@import "tailwindcss";

:root {
  /* Brand */
  --color-primary: #ae7d17;
  --color-primary-hover: #74530f;

  /* Status */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
  --color-info: #0ea5e9;

  /* Text */
  --color-text-primary: #5b5958;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;
  --color-text-light: #d6d4d3;

  /* Grays */
  /* Background */
  --color-bg-page: #ffffff;
  --color-bg-card: #f9fafb;
  --color-bg-muted: #f3f4f6;
  --color-bg-nav: #333130;
  --color-accent: #f2ece4;

  /* Border */
  --color-border-default: #78736f;
}

@theme inline {
  /* Breakpoint */
  --breakpoint-xs: 375px;

  /* Background */
  --color-background: var(--color-bg-page);
  --color-nav: var(--color-bg-nav);
  --color-accent: var(--color-accent);

  /* Brand */
  --color-primary: var(--color-primary);
  --color-secondary: #606b4d;

  /* Text */
  --color-foreground: var(--color-text-primary);
  --color-foreground-muted: var(--color-text-secondary);
  --color-foreground-subtle: var(--color-text-light);

  /* Fonts */
  --font-sans: var(--font-futura);
  --font-secondary: var(--font-avenir);
  --font-heading: var(--font-cormorant);
}

@layer base {
  * {
    scroll-behavior: smooth;
    font-family: var(--font-sans);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background: var(--color-bg-page);
    color: var(--color-text-primary);
  }

  button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
}

@layer components {
  .btn--primary {
    background: var(--color-primary) url("/button-overlay.png") repeat-x 50% 50%;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
    padding: 8px 20px;

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  .btn--secondary {
    background: #3d452f url("/button-overlay.png") repeat-x 50% 50%;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
    padding: 8px 20px;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  .btn--underline {
    font-style: italic;
    font-size: 18px;
    text-decoration: underline;
    border: none;
    color: white;

    &:hover {
      color: var(--color-text-light);
    }
  }

  .btn--underline2 {
    font-size: 16px;
    text-decoration: underline;
    border: none;
    color: #aba7a4;

    &:hover {
      color: var(--color-text-light);
    }
  }
}
